# Entornos virtuales y dependencias locales
.venv
venv
*.egg-info

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración de IDE y Git
.vscode/
.idea/
.git/
.gitignore

# Archivos de credenciales y tokens (se montarán como volúmenes o secrets)
client_secrets.json
token.json

# Base de datos y datos generados (se montarán como volúmenes)
data/
*.db
*.log

# Archivos de configuración del entorno de desarrollo
.devcontainer/
Dockerfile
.dockerignore
README.md
